.react-tags {
  position: relative;
  padding: 6px 0 0 6px;
  border: 1px solid #d1d1d1;
  border-radius: 1px;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags.is-active {
  border-color: #666666;
  box-shadow: 0 0 0 2px rgba(58, 182, 255, 0.2);
}

.react-tags.is-disabled {
  opacity: 0.75;
  background-color: #eee;
  cursor: not-allowed;
  pointer-events: none;
}

.react-tags.is-invalid {
  box-shadow: 0 0 0 2px rgba(255, 58, 74, 0.6);
}

.react-tags__label {
  position: absolute;
  left: -10000;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.react-tags__list {
  /* Do not use display: contents, it's too buggy */
  display: inline;
  padding: 0;
}

.react-tags__list-item {
  display: inline;
  list-style: none;
}

.react-tags__tag {
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  background: #f1f1f1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__tag::after {
  content: '\2715';
  color: #aaa;
  margin-left: 8px;
}

.react-tags__tag:hover {
  border-color: #b1b1b1;
}

.react-tags__tag:focus {
  box-shadow: 2px 0 0 0 rgba(58, 182, 255, 0.35);
}

.react-tags__combobox {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevents autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 32em) {
  .react-tags__combobox {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.react-tags__combobox-input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__listbox {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 30em) {
  .react-tags__listbox {
    width: 240px;
  }
}

.react-tags__listbox-no-options {
  padding: 6px 8px;
  font-style: italic;
}

.react-tags__listbox-option {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__listbox-option:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__listbox-option.is-active {
  background: #b7cfe0;
}

.react-tags__listbox-option[aria-disabled='true'] {
  opacity: 0.6;
  cursor: not-allowed;
}

.react-tags__listbox-option[aria-selected='true']::after {
  content: ' ✓';
}
